.card {
  background-color: $color-default-white;
  padding-top: 56px;
  padding-bottom: 60px;
  box-sizing: border-box;
  border: 7px solid $color-transparent;
  max-height: 448px;
  height: 35vw;
  overflow-y: auto;

  @include vp-1023 {
    width: 58vw;
    height: 59vw;
    min-height: 448px;
    max-height: none;
    padding-bottom: 63px;
  }

  @include vp-767 {
    width: 100%;
    max-width: 442px;
    max-height: 584px;
    min-height: 384px;
    height: 119vw;
    padding-top: 44px;
    padding-bottom: 46px;

    h3 {
      font-size: 22px;
      line-height: 24px;
    }
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      border-image-source: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
      border-image-slice: 30%;

      .card__button {
        background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
        color: $color-default-white;
        outline: none;
        border: none;
        padding-top: 27px;
        padding-bottom: 27px;
      }
    }
  }

  &:focus,
  &:focus-within {
    border-image-source: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
    border-image-slice: 30%;

    .card__button {
      background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
      color: $color-default-white;
      outline: none;
      border: none;
      padding-top: 27px;
      padding-bottom: 27px;
    }
  }

  h3 {
    font-family: $ff-default;
    font-size: 26px;
    line-height: 29px;
    font-weight: 700;
    color: $color-sapphire;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }

  p {
    text-align: center;
    font-family: $ff-default;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
  }
}

.card__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  min-height: 100%;
}

.card__price {
  position: relative;
  margin-bottom: 10px;
  align-self: end;

  @include vp-1023 {
    &::before {
      left: 26%;
      bottom: 20px;
    }
  }

  @include vp-767 {
    margin-bottom: 5px;

    &::before {
      font-size: 80px;
      line-height: 120px;
      left: 20%;
      bottom: -6px;
    }

    p {
      font-size: 48px;
      line-height: 72px;
    }

    svg {
      width: 24px;
      height: 33px;
    }
  }

  p {
    position: relative;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: $egyptian-blue;
    padding-top: 15px;
    z-index: 2;
  }

  &::before {
    content: attr(data-parent);
    font-size: 100px;
    line-height: 100px;
    font-weight: 700;
    color: #e8e8e8;
    font-family: $ff-default;
    position: absolute;
    bottom: 15px;
    left: 20%;
    z-index: 1;
    opacity: 0.48;
  }
}

.card__button {
  box-sizing: border-box;
  border: 2px solid $color-sapphire;
  margin: 0 auto;
  background-color: $color-transparent;
  color: $color-sapphire;
  font-family: $ff-default;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  padding: 25px 44px;
  align-self: end;
  letter-spacing: 0.05em;
  //margin-bottom: 15px;

  @include vp-1023 {
    padding: 25px 44px;
  }

  @include vp-767 {
    padding: 25px 44px;
  }
}
