.contact {
  display: grid;
  justify-content: right;
  padding-top: 70px;
  padding-bottom: 60px;
  color: $color-sapphire;
  margin-right: 9%;
  //border-top: 1px solid $slate-grey 53;

  @include vp-1199 {
    justify-content: left;
    margin-left: 89px;

    h2 {
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 29px;
    }

    tbody {
      column-gap: 90px;
      row-gap: 18px;
    }

    th {
      font-size: 20px;
      line-height: 30px;
    }

    td {
      font-size: 18px;
      line-height: 27px;
    }
  }

  @include vp-767 {
    justify-content: left;
    margin-left: 0;

    h2 {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 31px;
    }
  }

  &::before {
    display: block;
    content: "";
    position: absolute;
    height: 1px;
    width: 50%;
    right: 0;
    top: 0;
    background-color: $slate-grey;
  }

  h2 {
    font-family: $ff-special;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 37px;
    padding: 0;
  }

  table {
    position: relative;

    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 1px;
      height: 84%;
      background-color: #74819c;
      top: 7.5%;
      left: 57.5%;

      @include vp-767 {
        display: none;
      }
    }
  }

  tbody {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 120px;
    row-gap: 15px;
    font-family: $ff-default;

    @include vp-767 {
      grid-template-columns: 1fr;
    }
  }

  tr {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    text-align: left;
    font-size: 14px;
    line-height: 21px;
  }

  th {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 3px;
  }

  td {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
}
