.description {
  padding-top: 120px;
  padding-bottom: 235px;
  color: $color-sapphire;
  font-family: $ff-default;

  @include vp-1023 {
    padding-top: 100px;
    padding-bottom: 145px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.description__container {
  width: 100%;
  max-width: 1266px;
  margin: 0 auto;
  padding: 0 53px;
  display: grid;
  grid-template-columns: 35.8% 7.3% 57%;
  position: relative;

  @include vp-1023 {
    grid-template-columns: 1fr;
    padding: 0 45px;
  }

  @include vp-767 {
    padding-left: 0;
    padding-right: 0;
  }
}

.description__text {
  margin-left: 60px;
  margin-top: 47px;

  @include vp-1023 {
    margin-left: 0;
    margin-top: 0;

    h2 {
      font-size: 42px;
      line-height: 42px;
      text-align: center;
    }

    p {
      text-align: center;
      padding-left: 75px;
      padding-right: 75px;
      margin-bottom: 38px;
    }
  }

  @include vp-767 {
    padding: 0 15px;

    h2 {
      font-size: 32px;
      line-height: 32px;
      text-align: left;
    }

    p {
      text-align: left;
      padding-left: 0;
      padding-right: 32px;
      margin-bottom: 35px;
    }
  }

  h2 {
    margin: 0;
    padding: 0;
    font-family: $ff-special;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    color: $color-sapphire;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    font-weight: 300;
  }
}

.description__sub-title {
  margin-top: 8px;
  margin-bottom: 40px;

  @include vp-767 {
    margin-bottom: 20px;

    p {
      margin-bottom: 5px;
      padding-right: 0;
    }
  }

  @include vp-1023 {
    margin-bottom: 35px;

    p {
      margin-bottom: 25px;
    }
  }

  p {
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }
}

.description__text-desk {
  @include vp-1023 {
    display: none;
  }
}

.description__photo {
  grid-column-start: 3;

  @include vp-1023 {
    grid-column-start: 1;
    padding-bottom: 40px;
    height: 50.5vw;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  @include vp-767 {
    height: 110vw;

    img {
      object-position: right;
    }
  }
}

.description__video {
  position: absolute;
  width: 29vw;
  max-width: 364px;
  height: 18vw;
  max-height: 228px;
  left: 38.8%;
  top: 288px;

  @include vp-1023 {
    width: 266px;
    height: 167px;
    top: auto;
    left: 33%;
    bottom: -45px;
  }

  @include vp-767 {
    position: relative;
    width: 100%;
    max-width: none;
    max-height: none;
    bottom: auto;
    left: auto;
    height: 52vw;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.description__video-button {
  display: block;
  position: absolute;
  top: 35%;
  left: 40%;
  outline: none;
  border: none;
  background-color: $color-transparent;
  width: 100px;
  height: 100px;

  @include vp-1023 {
    width: 73px;
    height: 73px;

    svg {
      width: 73px;
      height: 73px;
    }
  }

  @include vp-767 {
    top: 37.5%;
    left: 42.5%;
  }

  svg {
    position: absolute;
    top: -15px;
    left: -13px;
  }
}
