.description {
  padding-top: 120px;
  padding-bottom: 195px;
  color: $color-sapphire;
  font-family: $ff-default;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 185px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.description__container {
  width: 100%;
  max-width: 1266px;
  margin: 0 auto;
  padding: 0 53px;
  display: grid;
  grid-template-columns: 35.8% 7.3% 57%;
  position: relative;

  @include vp-1199 {
    grid-template-columns: 1fr;
    padding: 0 45px;
  }

  @include vp-767 {
    padding-left: 0;
    padding-right: 0;
  }
}

.description__text {
  margin-left: 60px;
  margin-top: 47px;

  @include vp-1199 {
    margin-left: 0;
    margin-top: 0;

    h2 {
      font-size: 42px;
      line-height: 42px;
      text-align: center;
    }

    p {
      text-align: center;
      padding-left: 75px;
      padding-right: 75px;
      margin-bottom: 41px;
    }
  }

  @include vp-767 {
    padding: 0 15px;

    h2 {
      font-size: 32px;
      line-height: 32px;
      text-align: left;
    }

    p {
      text-align: left;
      padding-left: 0;
      padding-right: 32px;
      margin-bottom: 35px;
    }
  }

  h2 {
    margin: 0;
    padding: 0;
    font-family: $ff-special;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    color: $color-sapphire;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 8px;
    padding: 0;
    font-weight: 300;
  }
}

.description__sub-title {
  margin-top: 8px;
  margin-bottom: 40px;

  @include vp-767 {
    margin-bottom: 20px;

    p {
      margin-bottom: 5px;
      padding-right: 0;
    }
  }

  @include vp-1199 {
    margin-bottom: 35px;

    p {
      margin-bottom: 25px;
    }
  }

  p {
    font-size: 18px;
    line-height: 27px;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }
}

.description__text-desk {
  @include vp-1199 {
    display: none;
  }
}

.description__photo {
  grid-column-start: 3;
  overflow-x: hidden;
  overflow-y: hidden;

  img {
    object-fit: cover;
    object-position: 0 0;
    height: 440px;
    width: 660px;
    transform: translateY(-39px);
  }

  @include vp-1199 {
    grid-column-start: 1;
    padding-bottom: 40px;
    height: 45vw;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;

    img {
      position: absolute;
      //max-width: 780px;
      max-width: 115%;
      width: 225%;
      //height: 407px;
      height: 113%;
      object-fit: fill;
      object-position: 0 0;
      display: block;
      white-space: nowrap;
      top: 50%;
      left: 50%;
      transform: translate(-56%, -47%);
    }
  }

  @include vp-767 {
    height: 98vw;
    margin-bottom: 38px;

    img {
      object-position: right;
      max-width: 150%;
      height: 100%;
      transform: translate(-63%, -50%);
    }
  }
}

.description__video {
  position: absolute;
  width: 29vw;
  max-width: 364px;
  height: 18vw;
  max-height: 228px;
  left: 38.8%;
  top: 288px;

  @include vp-1199 {
    width: 266px;
    height: 167px;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: -85px;
  }

  @include vp-767 {
    position: relative;
    width: 100%;
    max-width: none;
    max-height: none;
    bottom: auto;
    left: auto;
    height: 52vw;
    transform: translateX(0);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.description__youtube-frame {
  height: 100%;
}

.description__video-button {
  display: block;
  position: absolute;
  top: 35%;
  left: 40%;
  outline: none;
  border: none;
  background-color: $color-transparent;
  width: 100px;
  height: 100px;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      //outline: 1px solid $black-russian;
      transform: scale(1.03);
    }
  }

  &:focus {
    transform: scale(1.03);
  }

  @include vp-1199 {
    width: 73px;
    height: 73px;

    svg {
      width: 73px;
      height: 73px;
    }
  }

  @include vp-767 {
    top: 37.5%;
    left: 42.5%;
  }

  svg {
    position: absolute;
    top: -15px;
    left: -13px;
  }
}
