.event {
  padding-top: 120px;
  padding-bottom: 117px;

  @include vp-1199 {
    padding-top: 100px;
    padding-bottom: 98px;
  }

  @include vp-767 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.event__container {
  display: grid;
  grid-template-columns: 43% 57%;
  position: relative;
  z-index: 1;

  @include vp-767 {
    grid-template-columns: 1fr;
    max-width: 500px;
  }
}

.event__content {
  background-color: $tints-torch-red;
  color: $color-default-white;
  font-family: $ff-default;
  font-size: 18px;
  line-height: 29px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  //grid-template-rows: min-content;
  //column-gap: 50px;
  //overflow-y: auto;
  //align-items: center;

  @include vp-1199 {
    font-size: 12px;
    line-height: 18px;
    //height: 38vw;
  }

  @include vp-767 {
    //height: 90.4vw;
    max-height: none;
    min-height: 292px;
  }
}

.event__wrapper {
  display: grid;
  width: 27vw;
  max-width: 343px;
  grid-template-columns: 59% 1fr;
  grid-template-rows: min-content;
  column-gap: 45px;
  align-items: center;
  align-self: center;
  justify-self: center;
  //padding-bottom: 27px;

  @include vp-1199 {
    column-gap: 23px;
    margin-bottom: 0;
    margin-left: 3px;
  }

  @include vp-767 {
    width: 64vw;
    margin-bottom: 5px;
  }
}

.event__title {
  margin-top: 5px;

  @include vp-1199 {
    margin-top: 4px;

    h2 {
      font-size: 52px;
      line-height: 52px;
    }
  }

  @include vp-767 {
    margin-top: 0;
  }

  h2 {
    font-family: $ff-special;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 0.03em;
    padding: 0;
    margin: 0;
  }
}

.event__description {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  margin-bottom: 34px;
  margin-top: 7px;

  @include vp-1199 {
    margin-bottom: 20px;
    margin-top: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.event__date {
  align-self: start;
  //margin-top: 5px;

  @include vp-1199 {
    b {
      font-size: 24px;
      line-height: 24px;
    }

    tr {
      margin-bottom: 12px;
    }

    td {
      font-size: 10px;
      line-height: 10px;
    }

    th {
      font-size: 12px;
      line-height: 12px;
    }
  }

  @include vp-767 {
    th {
      padding-bottom: 0;
    }

    tr {
      margin-bottom: 6px;
    }

    td {
      padding-top: 5px;
    }
  }

  b {
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    align-self: start;
  }

  tr {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    text-align: left;
    justify-items: left;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  td {
    font-size: 14px;
    line-height: 21px;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    border-top: 1px solid $color-default-white;
  }

  th {
    margin-bottom: 2px;
    font-size: 18px;
    line-height: 27px;
  }
}

.event__button {
  align-self: end;
  grid-column-start: 1;
  grid-column-end: 3;
  border: 4px solid $color-default-white;
  background-color: $color-transparent;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 0.05em;

  @include vp-1199 {
    font-size: 10px;
    line-height: 12px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    border: 2px solid $color-default-white;
    margin-bottom: 0;
  }

  @include vp-767 {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.event__img {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #000147;

  @include vp-1199 {
    //height: 38vw;
  }

  @include vp-767 {
    height: 91.3vw;
    max-height: 447px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  img {
    display: block;
    width: 100%;
    height: 39.4vw;
    object-fit: cover;
    max-height: 500px;

    @include vp-1199 {
      height: 38vw;
    }

    @include vp-767 {
      height: 105vw;
      position: absolute;
      left: 2px;
      top: -1px;
    }
  }
}
