.trainer-card {
  max-width: 260px;
  max-height: 294px;
  width: 20vw;
  height: 22.7vw;
  background-color: $color-sapphire;
  position: relative;
  color: $color-default-white;
  font-family: $ff-default;
  font-size: 16px;
  line-height: 24px;
  flex-shrink: 0;

  @include vp-1023 {
    max-width: none;
    max-height: none;
    width: 35vw;
    height: 38vw;
  }

  @include vp-767 {
    width: 70vw;
    //width: 50vw;
    height: 85vw;
  }
  /*
  &:nth-child(n+5) {
    display: none;
  }

  @include vp-1023 {
    &:nth-child(n+3) {
      display: none;
    }
  }

  @include vp-767 {
    &:nth-child(n+2) {
      display: none;
    }
  }
  */
  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      .trainer-card__content {
        z-index: 5;
      }

      figcaption {
        display: none;
      }
    }
  }

  &:focus {
    .trainer-card__content {
      z-index: 5;
    }

    figcaption {
      display: none;
    }
  }

  h3 {
    position: relative;
    z-index: 1;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

.trainer-card__content {
  display: block;
  z-index: 1;
  position: relative;
  background-color: rgba($color-sapphire, 0.89);
  width: 100%;
  height: 100%;
  padding-top: 52px;
  box-sizing: border-box;
  padding-right: 41px;
  padding-left: 45px;
  overflow-y: auto;

  @include vp-767 {
    padding-top: 40px;

    p {
      margin-bottom: 18px;
    }
  }

  p {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 28px;
  }

  ul {
    padding: 0;
    margin: 0;
    margin-left: 14px;
    list-style: none;
  }

  li {
    position: relative;
    padding-left: 12px;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 5px;
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: $color-default-white;
      border-radius: 50%;
      top: 7px;
      left: -3px;
    }
  }
}

/*
.trainer-card {
  &:nth-child(n+5) {
    display: none;
  }

  @include vp-1023 {
    &:nth-child(n+3) {
      display: none;
    }
  }

  @include vp-767 {
    &:nth-child(n+2) {
      display: none;
    }
  }
}
*/

.trainer-card__avatar {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  figure {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  figcaption {
    position: absolute;
    z-index: 2;
    bottom: 22px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
