.trainers {
  position: relative;
  padding-bottom: 120px;

  @include vp-1199 {
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }

  h2 {
    font-family: $ff-special;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    color: $color-sapphire;
    margin: 0;
    padding: 0;
    margin-bottom: 52px;

    @include vp-1199 {
      text-align: center;
      font-size: 42px;
      line-height: 42px;
      margin-bottom: 44px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 32px;
    }
  }
}
/*
.trainers__wrapper {
  overflow-x: auto;
}
*/
.trainers__wrapper {
  width: 92vw;
  background-color: $color-default-white;
  max-width: 1160px;
  //overflow-x: auto;

  @include vp-1199 {
    padding: 0 56px;
  }

  @include vp-767 {
    padding: 0;
    display: grid;
    justify-content: center;
    width: 100%;
  }
}

.trainers__container {
  position: relative;
}

.trainers__list {
  display: flex;
  position: relative;
  min-height: min-content;
  //overflow-x: hidden;
  //overflow-x: hidden;
  justify-content: left;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 40px;

  @include vp-1199 {
    column-gap: 30px;
  }

  @include vp-767 {
    margin: auto;
    //justify-content: center;
    position: relative;
    width: 70vw;
    //left: 150px;
  }
}

.trainers__button {
  display: block;
  border: none;
  outline: none;
  background-color: $color-transparent;
  position: absolute;
  top: calc(50% + 33px);

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      //outline: 1px solid $black-russian;
      svg {
        opacity: 0.2;
      }
    }
  }

  &:focus {
    svg {
      opacity: 0.2;
    }
  }

  svg {
    fill: none;
  }

  &--previous {
    left: -10px;
  }

  &--next {
    right: -10px;
  }

  @media (max-width: 1332px) {
    &--previous {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

  @media (max-width: 1282px) {
    &--previous {
      left: 15px;
    }

    &--next {
      right: 15px;
    }
  }

  @include vp-1199 {
    &--previous {
      left: 38px;
      top: calc(50% + 25px);
    }

    &--next {
      right: 38px;
      top: calc(50% + 25px);
    }
  }

  @include vp-767 {
    svg {
      width: 10px;
      height: 19px;
    }

    &--previous {
      left: 10px;
    }

    &--next {
      right: 10px;
    }
  }
}
